h1, h2, h3, h4, h5, p {
  font-family: 'Montserrat', sans-serif;
  color: black;

}

body {
  background-image: url("http://easyconferences.eu/issc2016/images/santorini-bg1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-width: 100%;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
font-size: 28px;
}

li {
  float: left;
}

li.right {
  list-style-type: none;
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover:not(.active) {
  background-color: #111;
}

.login:hover:not(.active) {
  background-color: #111;
}
